{% extends 'base.html' %}

{% block content %}

<div class='row' id="tweets">

</div>

<script>

    function formatTweetElement(tweet){
        let formattedTweet = "<div class='col-12 col-md-10 mx-auto border py-3 mb-4 tweet' id='tweet-" 
            + tweet.id 
            + "'>" 
            + "<p>" 
            + tweet.content  
            + "<div class= 'btn-group'>"
            + likeButton(tweet)
            + "</div>"
            + "</p></div>"
        return formattedTweet       
    }

    function likeButton(tweet){
        return "<button class= 'btn btn-primary' onclick= handleLike("+ tweet.id + "," + tweet.likes+ ")>"+ tweet.likes +" Likes</button>"
    }

    function handleLike(tweet_id, currentLikes){
        console.log(tweet_id, currentLikes)
    }

    const tweetsElement = document.getElementById("tweets")
    tweetsElement.innerHTML= "loading..."
    const xhr = new XMLHttpRequest()
    const method = "GET"
    const url = "/tweets"
    const responseType = "json"
    

    xhr.responseType= responseType
    xhr.open(method, url)
    xhr.onload= function(){
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        let finalTweetStr = ""
        let i;
        for (i=0; i<listedItems.length; i++){
            var tweetObj = listedItems[i]
            var currentItem= formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()
</script>

{% endblock content %}